body {
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 2px;
}
#content {
  min-width: 100%;
  min-height: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.initialHeader {
  visibility: visible;
}
.afterSearchHeader {
  visibility: hidden;
}
#head {
  min-width: 100%;
}

#foot {
  min-width: 100%;
}
